*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* ======================================================

Footer CSS

====================================================== */
footer.footer03 {
  background-image: linear-gradient(145deg, #f5f5f5 0%, #87cefa 100%);
  padding-top: 2rem;
}

.footer-container {
  text-align: center;
}

div.logo {
  width: 60px;
  height: 30px;
  margin: 0 auto 2rem;
}

div.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.nav {
  margin-bottom: 3rem;
}

nav.nav ul.item {
  display: flex;
  justify-content: center;
}

nav.nav ul.item li.list {
  padding: 0 0.5rem;
}

nav.nav ul.item li.list a {
  padding-right: 1rem;
}

ul.sns-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

ul.sns-container li.list {
  padding-right: 1rem;
}

ul.sns-container li.list img.icon-X {
  width: 25px;
  height: auto;
}

ul.sns-container li.list img.icon-instagram {
  width: 20px;
  height: auto;
}

p.copyright {
  color: #fff;
  background-color: #3a94ed;
  padding: 0.8rem;
}

@media screen and (max-width: 768px) {
  div.logo {
    margin: 0 auto 1.5rem;
  }

  nav.nav {
    margin-bottom: 1.5rem;
  }
  nav.nav ul.item {
    flex-wrap: wrap;
  }

  nav.nav ul.item li.list {
    padding: 0 0.5rem 0.8rem;
  }

  ul.sns-container {
    margin-bottom: 2rem;
  }

  ul.sns-container li.list {
    padding: 0 0.5rem;
  }
}
